/*Kenneth Andresen*/

body{
	margin: 0;
	background-color: rgb(0, 0, 0);
}

html, body {
	height: 100%;
}

body > .pageWrap {
    height: auto;
	min-height: 100%;
	}

.pageWrap {
    width: 100%;
	max-width: 1280px;
    margin: auto;
    position: relative;
	background-color: rgb(255, 255, 255);
}

.pageWrap *{
	position: relative;
}

a{
    font-size: 150%;
    color: rgb(0, 0, 0);
}

#logoWesterdals {
	height: 150px;
	width: 100%;
	max-width: 150px;
	top: 10px;
	left: 50px;
}

#asapButton {
	left: 30px;
	top: -300px;
}

#containerLeft {
	left: 10px;
	top: 60px;
	height: 250px;
	width: 100%;
	max-width: 230px;
    padding: 5px;
	border: 5px solid rgb(100, 150, 150);
}

#containerRight {
	left: 300px;
    top: -250px;
	height: 400px;
	width: 100%;
	max-width: 800px;
	background-color: rgb(100, 100, 100);
}

#containerLogin {
	text-align: center;
	border-radius: 10px;
	height: 120px;
	width: 100%;
	max-width: 210px;
	left: 40%;
	top: 50px;
	z-index: 1;
	background-color: rgb(100, 150, 150);
}

footer {
	text-align: center;
    bottom: 0px;
	height: 200px;
	width: 1280px;
	max-width: 100%;
    background-color: rgb(100, 100, 100);
	position: absolute;
}

/* css til PHP */
.available{
	background-image: url("../images/openTable.jpg");
	background-repeat: no-repeat;
	float: left;
	height: 200px;
	width: 200px;
}
.full{
	background-image: url("../images/tableFull.jpg");
	background-repeat: no-repeat;
	float: left;
	height: 200px;
	width: 200px;
}
.clear{
	clear: both;
}
.numSeats{
	color: #03F;
	margin: 75px;
	height: 50px;
	width: 50px;
}

/* Animation */
#blurOff {
	opacity: 0.1;
	-webkit-animation-name: blurOff;
	-webkit-animation-duration: 1.5s;
	-webkit-animation-fill-mode: forwards;
	-moz-animation-name: blurOff;
	-moz-animation-duration: 1.5s;
	-moz-animation-fill-mode: forwards;
	-o-animation-name: blurOff;
	-o-animation-duration: 1.5s;
	-o-animation-fill-mode: forwards;
	animation-name: blurOff;
	animation-duration: 1.5s;
	animation-fill-mode: forwards;
}

@-webkit-keyframes blurOff {
	0% { opacity: 0.1; }
	100% { opacity: 1; }
}

@-moz-keyframes blurOff {
	0% { opacity: 0.1; }
	100% { opacity: 1; }
}

@-o-keyframes blurOff {
	0% { opacity: 0.1; }
	100% { opacity: 1; }
}

@keyframes blurOff {
	0% { opacity: 0.1; }
	100% { opacity: 1; }
}